<!DOCTYPE html>
<html lang="fr">
<head th:replace="head :: tetelien">


</head>
<body>

<!--Header-part-->



<div id="user-nav" th:replace="header">

</div>



<!--sidebar-menu-->
<div th:replace="menu"></div>

<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Tableau de bord</a> <a href="#" class="current">Depots</a> </div>
    <h1>Gestion des Clients </h1>
  </div>
  <div class="container-fluid">
    <hr>
    <div class="row-fluid">
      <div class="span8">
        
      
        

        

        
       
        
        
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5 > tableau des clients </h5>
           
           
          
            
            
            
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>Nom  </th>
                  <th>Prenom</th>
                  <th>Email</th>
                  <th>Telephone</th>
                 
                 
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="client:${listesusersDto}">
                  <td th:text="${client.name}"> </td>
                   <td th:text="${client.lastName}"></td>
                  <td th:text="${client.email}"> </td>
                  <td th:text="${client.telephone}"> </td>
                 
                 
                  <td> 
                  
                  <a href="" data-toggle="modal"   data-target="#modal-toTrash"
                                           th:attr="data-target='#modal-toTrash'+${client.email}"      class="btn btn-success"><i class="fa fa-edit"></i></a>
                                           
                                            <!-- Ajout Requerant-->
  <div class="modal fade"  th:id="modal-toTrash+${client.email}"   tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" th:text="${client.name}">Modification d'un Client </h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
        
           
                  <p>Tous les champs (*) sont obligatoires. loiasse</p>
                 <form class="form-vertical" th:method="POST" th:action="@{creerclient}" th:object="${userDto}">
				
                <div class="control-group">
                    <div class="controls">
                       
                          <input class="span12" type="text" placeholder="Entrez votre Nom" id="name" name="name" th:value="${client.name}"/>
                        
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                       
                           <input class="span12" type="text" placeholder="Entrez votre Prenom" id="lastName" name="lastName" th:value="${client.lastName}"/>
                        
                    </div>
                </div>
                 <div class="control-group">
                    <div class="controls">
                       
                           <input class="span12" type="email" placeholder="Entrez votre email" id="email" name="email" th:value="${client.email}"/>
                       
                    </div>
                </div>
               
                
                
                 <div class="control-group">
                    <div class="controls">
                        
                           <input class="span12" type="text" placeholder=" Entrez votre numero de telephone" id="telephone" name="telephone" th:value="${client.telephone}"/>
                       
                    </div>
                </div>
                  
                
          
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger" type="button" data-dismiss="modal"><span class="fa fa-close"></span>Fermer</button>
           <input type="submit" class="btn btn-success" id="submit" name="submit" value="Valider">
        </div>
      </div>
      </form>
    </div>
  </div>
          
          
          
          </td>
               
                 
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
      
      <div class="span4">
      <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>Forulaire d'enregistrement des clients</h5>
        </div>
        <div class="widget-content nopadding">
          <form class="form-vertical" th:method="POST" th:action="@{creerclient}" th:object="${userDto}">
				
                <div class="control-group">
                    <div class="controls">
                       
                          <input class="span12" type="text" placeholder="Entrez votre Nom" id="name" name="name"/>
                        
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                       
                           <input class="span12" type="text" placeholder="Entrez votre Prenom" id="lastName" name="lastName"/>
                        
                    </div>
                </div>
                 <div class="control-group">
                    <div class="controls">
                       
                           <input class="span12" type="email" placeholder="Entrez votre email" id="email" name="email"/>
                       
                    </div>
                </div>
               
                <div class="control-group">
                    <div class="controls">
                        
                           <input class="span12" type="password" placeholder=" Entrez votre mot de passe" id="password" name="password"/>
                       
                    </div>
                </div>
                
                 <div class="control-group">
                    <div class="controls">
                        
                           <input class="span12" type="text" placeholder=" Entrez votre numero de telephone" id="telephone" name="telephone"/>
                       
                    </div>
                </div>
                
                
                <div class="form-actions">
                    <span class="pull-left"><input type="reset"  value="Effacer" class="flip-link btn btn-danger"></span>
                    <span class="pull-right"><input type="submit"  class="btn btn-success" value="enregistrer" /></span>
                </div>
            </form>
         
        </div>
      </div>
      
      
    </div>
      
      
      
    </div>
  </div>
</div>

 
            
             
            
<!--Footer-part-->
<div th:replace="footer"></div>
</body>
</html>
