<div th:fragment="footer">
<div class="row-fluid">
  <div id="footer" class="span12"> 2019 &copy; <a href="http://kevinobam.10000codeurs.com">Kevin Jamal Obam</a> </div>
</div>
<!--end-Footer-part-->
<script th:src="@{js/jquery.min.js}"></script> 
<script th:src="@{js/jquery.ui.custom.js}"></script> 
<script th:src="@{js/bootstrap.min.js}"></script> 
<script th:src="@{js/jquery.uniform.js}"></script> 
<script th:src="@{js/select2.min.js}"></script> 
<script th:src="@{js/jquery.dataTables.min.js}"></script> 
<script th:src="@{js/matrix.js}"></script> 
<script th:src="@{js/matrix.tables.js}"></script>
<script th:src="@{js/bootstrap-datepicker.js}"></script>

<script th:src="@{js/bootstrap-colorpicker.js}"></script> 

<script th:src="@{js/jquery.toggle.buttons.js}"></script> 
<script th:src="@{js/masked.js}"></script> 
<script th:src="@{js/jquery.uniform.js}"></script> 
<script th:src="@{js/select2.min.js}"></script> 
 
<script th:src="@{js/matrix.form_common.js}"></script> 
<script th:src="@{js/wysihtml5-0.3.0.js}"></script> 
<script th:src="@{js/jquery.peity.min.js}"></script> 
<script th:src="@{js/bootstrap-wysihtml5.js}"></script> 
<script th:src="@{js/jquery.gritter.min.js}"></script> 
<script th:src="@{js/jquery.peity.min.js}"></script> 
 
<script th:src="@{js/matrix.interface.js}"></script> 
<script th:src="@{js/matrix.popover.js}"></script>
</div>

 
