<head th:fragment="tetelien">

<title>zenarich</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{css/bootstrap-responsive.min.css}" />
<link rel="stylesheet" th:href="@{css/uniform.css}" />
<link rel="stylesheet" th:href="@{css/select2.css}" />
<link rel="stylesheet" th:href="@{css/matrix-style.css}" />
<link rel="stylesheet" th:href="@{css/matrix-media.css}" />
<link th:href="@{font-awesome/css/font-awesome.css}" rel="stylesheet" />
<link rel="stylesheet" th:href="@{css/datepicker.css}" />
<link rel="stylesheet" th:href="@{css/jquery.gritter.css}" />
<link rel="stylesheet" th:href="@{css/matrix-style.css}" />
<link rel="stylesheet" th:href="@{css/matrix-media.css}" />
<link rel="stylesheet" th:href="@{css/colorpicker.css}" />

<link rel="stylesheet" th:href="@{css/bootstrap-wysihtml5.css}" />

</head>